a {
    margin: 5px;
    color:blue;

}
body{
    text-align: center;
}
div{
    text-align: center;
}
button{
    margin-top: 5px;
    margin-bottom: 25px;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}
.frms{
    margin: auto;
    width: 500px;
    padding: 5px;
}

.listitem{
    background-color: rgb(153, 153, 160);
    color:black;
    width: 400px;
    margin: auto;
}
.base-ul{
    text-align: center;
}
.site-nav{
    background-color: black;
    padding: 10px;
  
}
.base-name{
    background-color: black;
    color: white;
    
}
.base-pic{
    background-color: black;
    color: white;
    
}
.base-nav{
  
    background-color: black;
    color: white;
   
}
.base-a{
    color: whitesmoke;
}

.wc{
    color: whitesmoke;
}